{% extends "base.html" %}
{% block content_block%}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        {% if status %}
            <h1 class="text-white mt-5">{{status}}</h1>
        {% else %}
        
            <h1 class="text-white mt-5">My Cart ({{items|length}})</h1>
        {% endif %}
    </div>
</div>


{% endblock %}