{% extends "base.html" %}
{% load static %}
{% block style_block %}
<style>
     .body{
            background-color: whitesmoke;
        }
        a{text-decoration: none;}
        .bg_img{
            background: url("{% static 'images/stu11.jpg'%}"); height:400px; background-size: cover;
        }
        .bg_img2{
            background: url("{% static 'images/stu16.jpg'%}");height: 400px; background-size:cover ;background-attachment: fixed;
        }
        .trans{background: rgba(5, 5, 5, 0.842); height: 400px;}
        .trans2{background:rgba(12, 12, 12, 0.849) ; height: 400px;}
        .btn{border: 2px solid white;}
        h4{
            font-size: 60px;
        }
        .card:hover{
             transform: scale(1.1);transition: 1s;    
        }
        .card{
            height: 280px;
        }
        
       
</style>
{% endblock %}

{% block content_block %}
<section>
    <div class="container-fluid px-0">
        <div class="row px-0 ">
            <div class="col-md-12 top_back  px-0">
                <h1 class="text-center text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">About Doceo</h1>
                <h3 class="text-center text-white mb-5 pb-5">We'd <i style="color: red;"class="fa fa-heart"></i> to share about us with U </h3>
                <!-- <h5 class="text-white track ">Home > About</h5> -->
                
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-5 mx-auto">
            <div class="col-md-6">
                <h1 class="text-center">Our Values</h1>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium laudantium, <br/> totam rem aperiam, eaque ipsa quae ab illo inventore veritatis,et quasi architecto beatae  <br/> vitae dicta sunt explicabo.</p>
                    <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium laudantium, <br/>totam rem aperiam, eaque ipsa quae ab illo inventore veritatis,et quasi architecto beatae <br/> vitae dicta sunt explicabo.</p>
                    <p>Nemo enim ipsam,voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia,<br/>consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.,<br/>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, adipisci velit, sed quia<br/> non numquam eius modi tempora</p>
            </div>
            <div class="col-md-6  image1">
                <img src="{% static 'images/about1.jpg'%}" alt="" style="width:100%;height: 400px; border-radius:8%">
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-6">
                <h2><strong>Who We Are</strong></h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br> laudantium, totam rem aperiam, eaque  ipsa quae ab illo inventore veritatis,<br>et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam,voluptatem quia voluptas sit aspernatur aut odit aut fugit,   <br> sed quia,consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt., <br> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, adipisci velit, <br> sed quia non numquam eius modi tempora</p>  
            </div>
            <div class="col-md-6"> 
                <h2><strong>What We Do</strong></h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br> laudantium, totam rem aperiam, eaque <br> ipsa quae ab illo inventore veritatis,<br>et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam,voluptatem quia voluptas sit aspernatur aut odit aut fugit,   <br> sed quia,consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt., <br> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, adipisci velit, <br> sed quia non numquam eius modi tempora</p>   
            </div>
        </div>
        <div class="row bg_img2 mt-5" >
            <div class="col-md-12  text-center trans2">
                <h5 style="color: white; margin-top: 200px;">STARTING ONLINE LEARNING</h5>
                <h1 style="color: white;"> <strong> ENHANCE YOUR SKILLS WITH BEST <br> ONLINE COURCES </strong></h1>
                <a class="btn btn-outline-warning rounded-pill text-light " href="{% url 'courses' %}">Get Start Now</a>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h4><strong>Popular Instructors</strong></h4>
            </div>
        </div>
        <div class="row  mt-5">
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <img src="{% static 'images/prof1.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h3>CHRIS PARAK</h3>
                           <p>HTML/CSS</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <img src="{% static 'images/prof2.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h3>PETER</h3>
                           <p>JAVA SCRIPT</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <img src="{% static 'images/prof3.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h3>JOSHAN</h3>
                           <p>PYTHON</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <img src="{% static 'images/prof4.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h3>VISHAL</h3>
                           <p>AI</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <button class="btn btn-outline-success rounded-pill" data-toggle="collapse" data-target="#abc" style="border:2px solid red">moree....</button>
            </div>
        </div>
        <div id="abc" class="row mt-5 collapse">
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <img src="{% static 'images/prof5.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h1>Ms.aman</h1>
                           <p>PYTHON</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body ">
                        <img src="{% static 'images/prof1.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h1>Mrs.sharma</h1>
                           <p>BOOTSTAP</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <img src="{% static 'images/prof2.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h1>Neeraj Sharma</h1>
                           <p>AJAX</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body ">
                        <img src="{% static 'images/prof3.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h1>Harminder</h1>
                           <p>AI</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h1 style="font-size: 40px;">What People Say</h1>
                <h5>Cum doctus civibus efficiantur in imperdiet deterruisset.</h5>
            </div>
        </div>
        <div class="row mt-3 ">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <img src="{% static 'images/prof7.jpg'%}" alt=""  style=" border-radius: 100%; height: 110px;width: 110px;"  data-target="#ab" data-toggle="collapse">
            </div>
            <div class="col-md-2">
                <img src="{% static 'images/prof8.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;" data-toggle="collapse" data-target="#abcd">
            </div>
            <div class="col-md-2">
                <img src="{% static 'images/prof10.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;" data-toggle="collapse" data-target="#abce">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center collapse" id="ab">
            <h3>JOHAN DOE</h3>
            <small style="color:blue;">design</small>
            <p>Customization is very easy with this theme.Clean and quality design and full <br> support for any kind of request! Great theme! </p>
        </div>
            <div class="col-md-12 text-center collapse" id="abcd">
            <h3>JOHAN DOE</h3>
            <small style="color:blue;">design</small>
            <p>Customization is very easy with this theme.Clean and quality design and full <br> support for any kind of request! Great theme! </p>
        </div>
            <div class="col-md-12 text-center collapse" id="abce">
            <h3>JOHAN DOE</h3>
            <small style="color:blue;">design</small>
            <p>Customization is very easy with this theme.Clean and quality design and full <br> support for any kind of request! Great theme! </p>
        </div>
        </div>
        
    </div>
    
</section>


<script>
    $("#link2").addClass('bg-warning').css("border-bottom","3px solid white");
  
  </script>    
  
{% endblock %}