{% extends "base.html"%}
{% load static%}
{% load bootstrap4 %}
{% block content_block%}
<!-- TOP HEADER DISPLAYS STUDENT DASHBOARD OR TUTOR DASHBOARD -->
<div class="row px-0 ">
    <div class="col-md-12 detail_back  px-0 text-center">
        <h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Dashboard</h1>
        <h3 class="text-center full_name_display" >Welcome {{user.first_name}} {{user.last_name}}</h3>
        
        
    </div>
</div>
<!-- TOP HEADER DISPLAYS STUDENT DASHBOARD OR TUTOR DASHBOARD ENDS-->

<div class="container">
    <div class="row" >
        <div class="col-md-12">
            <h1>Add Product</h1>
        </div>
        <div class="col-md-6 mx-auto">
            <!-- {{form.as_p}} -->
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-warning ">
            </form>
            
            
        </div>
    </div>
    
</div>
{% if status %}
<script>
    alert("{{status}}");
</script>
{% endif %}
{% endblock %}