{% extends "base.html"%}
{% block content_block%}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        <h1 class="text-white mt-5">{{products.product_name}} ({{products|length}})</h1>
    </div>
</div>
<div class="row my-5">
    {% for i in products%}
        <div class="col-md-3 mx-auto">
        <div class="card">
            <div class="card-body">
                <img src="/media/{{i.product_image}}" width="270" height="200"alt="">
            </div>
            <div class="card-footer">
                <h3>{{i.product_name}}</h3>
                <h5 class="text-secondary">Price:  <del>{{i.product_price}}</del></h5>
                <h4 class="text-danger">Sale Price:{{i.product_price}}</h4>
                <form action="{% url 'cart'%}" method="POST">
                      {% csrf_token%}
                    <input type="hidden" value="{{i.id}}" name="pid_hidden">
                    <input type="hidden" value="1" name="qty">
                    <button type="submit" class="btn btn-primary text-white btn-block">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
    {%endfor%}
</div>




{%endblock%}