{% extends "base.html"%}
{% block content_block%}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        <h1 class="text-white mt-5">All Courses({{topicss|length}})</h1>
    </div>
</div>
<div class="row">
    {% for i in topicss %}
              <div class="col-md-3 mx-auto my-2">
                <div class="card px-0">
                  <img src="/media/{{i.topic_image}}" class="border" width="100%" height="130" alt="">
                  <div class="card-body">
                    <h6 ><a class="text-dark" href="{% url 'courses_detail'%}?cat={{i.id}}">{{i.topic_name}}</a></h6>
                  <span class="fa fa-star text-warning"><span class="fa fa-star text-warning"><span class="fa fa-star text-warning"><span class="fa fa-star text-warning"><span class="fa fa-star text-dark">&nbsp;&nbsp;&nbsp;<b class="text-dark">4.5</b>&nbsp;&nbsp;<small class="text-secondary">(1548965)</small></span>
                  
                  
                  </span>
                  </span>
                  </span>
                  </span>
                  <br>
                  <small class="text-secondary"><b>{{i.tutor}}</b></small>
                  <br>
                  <br>
                  <form action="{% url 'cart'%}" method="POST">
                    {% csrf_token%}
                  <input type="hidden" value="{{i.id}}" name="pid_hidden">
                  <input type="hidden" value="1" name="qty">
                  <button type="submit" class="btn btn-danger btn-lg w-75 border">Add to Cart</button>
                  </form>
                
                  </div>
                  
                </div>
                  
              </div>
              {% endfor %}

</div>
{%endblock%}