<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="{% static 'jquery.js'%}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- <script src="https://use.fontawesome.com/e8fac03b7f.js"></script> -->
<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}">
<link rel="stylesheet" href="{% static 'animate.css'%}">

{% block style_block%}

{% endblock %}
    <style>
        .user_img{
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
}
        .detail_back{
            background-color: black;
            height: 200px;
            padding-top: 70px;
        }
        .top_back{
            background-color: black;
            height: 400px;
            padding-top: 150px;
        }
        .track{
          position: relative;
          bottom: 10px;
          left: 10px;
      }
        .forgot{
            font-size: small;
        }
        .not_reg{
            font-size: small;
        }
       .home_land{
        border-bottom-right-radius: 1000%;border-top-left-radius: 100% ;
        
        background-color: black;
        width: 100%;
        height:600px;
       }
       
       .login-home{
        position: relative;
            top:180px;
            float: left;
            left: 20px;
           background-color: blanchedalmond;
           border-radius: 5px;
           width: 100%;
           height: 500px;
       }
       .nav-link{
           color: white;
       }
       .nav_fon{
           color: black;
       }
       .para{
           width: 400px;
    
       }
       
	   
	   .marginquery{
	   margin-top:20px;
	   margin-bottom:20px;
	   }
	   @media only screen and (max-width: 600px) {
  .marginquery{
	   margin-top:0px;
	   margin-bottom:0px;
	   }
       }
	   .loginformmarginquery{
	   margin-top:0px;
	   
	   }
	   @media only screen and (max-width: 600px) {
        .loginformmarginquery{
	   margin-top:30px;
         }
	   }
       
       .dropdownmenubgw{
            background-color: black;
            }

	   .dropdownmenubg{
	   background-color: none;
	   }
	   @media only screen and (max-width: 600px) {
            .dropdownmenubg{
                background-color: white;
          }    
  
	   }
       
       @media only screen and (max-width: 600px) {
  .dropdownmenubgw{
    background-color: black;
    
  }    
  
	   }
	   .go_at_3{
           background-color: black;
       }
    
        	.custom-toggler.navbar-toggler {
        border:3px solid white;
        }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    .nav-link:hover{
background-color:#FFCC00 ;
}
        .heading{
            font-size: 30px;
            /* position: relative; */
            line-height: 100px;
        }
       .navbar-brand{
           font-size: 40px;
           font-weight: bold;
       }

        .foottop{
        background-color:black;
        }
        .footlink{
        color:white;
        }
        
        .footlink:hover{
        color:darkcyan;
        }
        .footbot{
        background-color:#909190;
        }
        .footerlink{
                color: white; text-decoration:none;font-size: 20px;
               }
               .footerlink:hover{
                   color:darkcyan;
                   text-decoration: none;
               }
        </style>
           
</head>
<body>
    <div class="container-fluid">
        <!-- NAVBAR STARTS -->
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand-md navbar" id="task" style="z-index:999; background-color:none; width:100%;position:fixed; top:0px;height: 101px;">
                    <a href="{% url 'home'%}" class="navbar-brand pl-5 text-white" id="logo">DOCEO</a>
                    <button class="navbar-toggler ml-auto custom-toggler" data-target="#mymenu" data-toggle="collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="mymenu" class="navbar-collapse collapse dropdownmenubgw">
                    
                    <ul class="navbar-nav mx-auto" style="word-spacing: 0px;font-weight: bold;font-size: 20px;">
                        <li class="nav-item active" >
                            <a href="{% url 'home'%}" class="nav-link  mr-5 text-white" id="link1" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about'%}" class="nav-link  mr-5 text-white"id="link2" >About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'courses'%}"class="nav-link  mr-5 text-white " id="link3" >Courses</a>
                        </li>
                        <li class="nav-item">
                            <a href="rooms.html" class="nav-link  mr-5 dropdown-toggle text-white id="link4" data-toggle="dropdown">Learn</a>
                    <div class="dropdown-menu bg-white text-dark p-3" style="width: 800px; margin-left: 300px;">
                    
                            <div class="row p-2">
                                <div class="col-sm-12 col-md-6  border border-left-0 border-top-0 border-bottom-0 p-2">
                            
                                    <h3>Courses</h3>
                                    {% for i in course_t %}
                                    <a href="{% url 'courses_detail'%}?cat={{i.id}}" class="dropdown-item border border-right-0 border-top-0 border-left-0 pl-0" >Introduction to {{i}}</a>
                                    {% endfor %}
                                </div>
                                
                                
                                <div class="col-sm-12 col-md-6 p-2">
                                    <h3>Instructors</h3>
                                    <a href="rooms.html" class="dropdown-item border border-right-0 border-top-0 border-left-0 pl-0" >Rick Scavetta</a>
                                    <a href="rooms.html" class="dropdown-item border border-right-0 border-top-0 border-left-0 pl-0" >Dan Becker</a>
                                    <a href="rooms.html" class="dropdown-item border border-right-0 border-top-0 border-left-0 pl-0" >Charlotte Wickham</a>
                                    <a href="rooms.html" class="dropdown-item border border-right-0 border-top-0 border-left-0 pl-0" >Justin Boisen</a>
                                    <a href="rooms.html" class="dropdown-item border border-right-0 border-top-0 border-left-0 pl-0" >Justin Boisen</a>
                                    <a href="rooms.html" class="dropdown-item border border-right-0 border-top-0 border-left-0 pl-0" >Illya Kipson</a>
                                    <a href="rooms.html" class="dropdown-item border border-right-0 border-top-0 border-left-0 pl-0" >&nbsp;</a>
                                    <a href="rooms.html" class="dropdown-item border border-right-0 border-top-0 border-left-0 pl-0"><b>See all Instructors(15)</b></a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="col-md-6 float-left bg-info">
                                    hello
                                </div>
                                <div class="col-md-6 float-right bg-info">
                                    hello
                                </div>
                                
                            </div>
                        </div>
                        
                        </li>
                        
                        <li class="nav-item">
                            <a href="{% url 'contact'%}" class="nav-link  mr-5 text-white"id="link5">Contact</a>
                        </li>
                    </ul>
                    </div>
                    <div class="row">
                        {% if user.is_authenticated %}
                            <div class="col-md-12">
                                <!-- Default dropleft button -->
                                    <div class="btn-group dropleft">
                                        <button type="button" class="btn btn-secondary d-none d-md-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        My Account
                                        </button>
                                        <div class="dropdown-menu">
                                           

                                            
                                            {% if user.is_staff and user.is_active%}
                                            <a  class="dropdown-item" href="{% url 'tutor_dashboard' %}">{{user.username}}</a>
                                            {% else %}
                                            <div class="row">
                                                <div class="col-md-4">
                                                    
                                                    {%if data.profile_pic %}
                                                    <img src="/media/{{data.profile_pic}}" class="user_img"alt="">
                                                    {% else %}
                                                    <img src="{% static '/images/icon_img.jpg' %}" class="user_img"alt="">
                                                    
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-8 px-0 mx-0">
                                                    
                                                    <a class="dropdown-item" href="{% url 'stu_dashboard' %}">{{user.username}}</a>
                                                </div>
                            
                                            </div>
                                            
                                            {% endif %}
                                            <a class="dropdown-item" href="{% url 'my_courses' %}">My Courses</a>
                                            <a class="dropdown-item" href="{% url 'cart_ss' %}">My Cart</a>
                                                    <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'user_logout'%}" ><b>LOGOUT</b></a>
                                        
                                        </div>
                                    </div>
                                    
                                    
                      
                                
                            </div>
                        {% else %}
                            <div class="col-md-12">
                                <button type="button" class="btn d-none d-md-block btn-outline-warning btn-lg rounded-pill " data-toggle="modal" data-target="#myModal"><b>LOGIN</b></button>
                                
                            </div>
                            <div class="col-md-12">
                                <a href="" class="forgot d-none d-md-block" data-toggle="modal" data-target="#not_reg">Not Registered Yet?</a>
                            </div>
                        {% endif%}
                        
                    </div>
                    


                </nav>
                <!-- LOGIN MODAL STARTS -->
                <div id="loginmodal">
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modalcontent-->
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title ml-5 ">Log in</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        <div class="modal-body px-0">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-8 mx-auto   ">
                                        <form action="{% url 'user_login' %}" method="POST" >
                                            {% csrf_token %}
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                              </div>
                                              <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                                                </div>
                                                <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                                              </div>
                                        
                                        <div class="row">
                                        <div class="col-md-9">
                                            <input type="checkbox" name="keep_signed_in"><span class="text-secondary">  keep me signed in</span> 
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                    </div>
                                        <div class="form-group mt-2">
                                            <input type="submit" value="Login" class="btn btn-outline-warning rounded-pill btn-block">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="" onclick="forgot_pwd()" class="forgot" data-toggle="modal" data-target="#forgot_pass">Forgot Password?</a>
                                            </div>
                                            <div class="col-md-6" >
                                                <a href="" class="forgot" data-toggle="modal" data-target="#not_reg">Not Registered Yet?</a>
                                            </div>
                                        </div>
                                        
                                    </form>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
                <!-- LOGIN MODAL ENDS -->
                <!-- REGISTRATION MODAL STARTS -->
                <div id="not_reg" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modalcontent-->
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h3 class="modal-title text-center">Register Here</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        <div class="modal-body px-0">
                            <div class="container-fluid">
                                <div class="row px-5">
                                    <div class="col-md-12 mx-auto">
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <!-- FIRST NAME AND LAST NAME -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                                        </div>
                                                        <input type="text" name="fname" class="form-control" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                                        </div>
                                                        <input type="text" name="lname" class="form-control" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- USERNAME -->
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input id="username" onkeyup="checkusername()" type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="input-group">
                                                <h6 id="result"></h6>
                                            </div>
                                            <!-- EMAIL -->
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                                </div>
                                                <input name="email" type="text" class="form-control" placeholder="E-mail" aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                            <!-- CONTACT -->
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
                                                </div>
                                                <input name="contact" type="text" class="form-control" placeholder="Contact Number" aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                            <!-- USERTYPE STUDENT OR TEACHER -->
                                            <div class="input-group mb-3">
                                               <select class="form-control" name="utype" id="">
                                                   <option value="stu">Student</option>
                                                   <option value="tut">Tutor</option>
                                               </select>
                                            </div>
                                            <!-- PASSWORD -->
                                              <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                                                </div>
                                                <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                                              </div>
                                            <!-- REPEAT PASSWORD -->
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                                                </div>
                                                <input type="password" name="rpassword" class="form-control" placeholder="Repeat Password" aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                        <!-- SUBMIT BUTTON OR CREATE ACCOUNT -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group mt-2">
                                                    <input id="submitbtn" name="registration" type="submit" value="Create Account" class="btn btn-outline-warning rounded-pill btn-block">
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="" class="forgot" data-toggle="modal" data-target="#forgot_pass">Forgot Password?</a>
                                            </div>
                                            <div class="col-md-6" >
                                                <a href="" class="forgot" data-toggle="modal" data-target="#not_reg">Not Registered Yet?</a>
                                            </div>
                                        </div>
                                        
                                    </form>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
                <!-- REGISTRATION MODAL ENDS -->
                <!-- FORGOT PASSWORD MODAL STARTS -->
                <div id="forgot_pass" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modalcontent-->
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title ml-5 ">Forgot Password?</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        <div class="modal-body px-0">
                            <div class="container-fluid">
                                <div class="row">
                                    
                                    <div class="col-md-8 mx-auto">
                                        <form action="" method="POST">
                                            {% csrf_token%}
                                           
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input id="un" type="text" name="username" class="form-control" placeholder="Username">
                                            </div>
                                        
                                            <button type="button" id="continue"onclick="getpass()" class="btn btn-outline-warning rounded-pill btn-block">Continue</button>
                                           
                                            
                                        <!-- OTP ENTER PART     -->
                                            <div class="input-group mb-3" style="display: none;" id="afterotp">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input id="uotp" type="number" name="otp" class="form-control" placeholder="Enter OTP Here" >
                                                <button onclick="verifyotp()" type="button" class="btn my-2 btn-outline-warning rounded-pill btn-block">Verify OTP</button>
                                            </div>
                                        <!-- ENTER NEW PASSWORD PART -->
                                        <div id="changepwd"style="display: none;">
                                            <div class="form-group">
                                                <input type="password" class="form-control"name="newpwd_new" id="newpwd" placeholder="Enter New Password">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="confirmpwd" class="form-control"id="confirmpwd" placeholder="Confirm New Password">
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" name="changeforgotpwd" value="Change Password" class="btn btn-outline-warning rounded-pill btn-block">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="" class="forgot">Forgot Password?</a>
                                            </div>
                                            <div class="col-md-6" >
                                                <a href="" class="forgot">Not Registered Yet?</a>
                                            </div>
                                        </div>
                                     <input type="hidden" id="realotp">   
                                    </form>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
                <!-- FORGOT PASSWORD MODAL ENDS -->
            </div>
        </div>
        <!-- NAVBAR ENDS -->

        {% block content_block %}

        {% endblock %}

        <!-- FOOTER STARTS -->
        <div class="row foottop">
		
            <div class="col-md-3 m-5">
           <h1 style="color: white;">DOCEO</h1>
           <p style="color: white;">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam.</p>
           <a href="#" class="footlink"><i class="fa fa-phone"></i>&nbsp;(+91) 0123456789<br/><br/></a>
           <a href="#" class="footlink"><i class="fa fa-envelope-square"></i>&nbsp;contact@doceo.com<br/><br/></a>
           <a href="#" class="footlink"><i class="fa fa-map-marker"></i>&nbsp;SachTech Solutions, Mohali</a>
           </div>
           <div class="col-md-3 m-5">
               <h3  style="color: white;">Customer Service</h3>
                   
                   <a class="footerlink" href="#" >Video Gallery</a><br>
                   <a class="footerlink" href="#" >Awards & Recognition</a><br>
                   
                   <a class="footerlink" href="{% url 'careers'%}" >Careers</a><br>
                   <a class="footerlink" href="#" >Privacy Statement</a><br>
                   {% if user.is_authenticated %}
                        {% if user.is_staff and user.is_active%}      
                            <a class="footerlink" href="{% url 'tutor_dashboard'%}" >My Account</a><br>
                        {% else %}
                            <a class="footerlink" href="{% url 'stu_dashboard'%}" >My Account</a><br>
                        {%endif%}
                    {%else%}
                    <a class="footerlink" data-toggle="modal" data-target="#myModal" href="">Login</a><br>
                    {%endif%}
           </div>
           <div class="col-md-3 m-5">
               <h3 style="color: white;" >Newsletter Subscription</h3><br>
               <form action="" method="POST">
                   {% csrf_token %}
                   <input name="subemail" type="text" placeholder="Email" style="width:100%;border:2px solid darkcyan;height:40px;background:none;color:white;outline: none;padding-left: 5px;">
               <br><br>
               <input type="submit" name="subscribe" value="SUBSCRIBE NOW" style="width:100%;border:2px solid darkcyan;background-color: black;height: 40px;color:white">
           
               </form>
               
           </div>
           
               
           <div class="col-md-12 footbot">
           <h3 class="text-center text-white py-2" style="font-family: 'Satisfy';">Follow us on</h3>
           <h3 class="text-center text-white"><i class="fab fa-twitter"></i>&nbsp;&nbsp;&nbsp;<i class="fab fa-facebook"></i>&nbsp;&nbsp;&nbsp;<i class="fab fa-instagram"></i>&nbsp;&nbsp;&nbsp;<i class="fab fa-youtube"></i></h3>
   
           </div>
       </div>
       <!-- FOOTER ENDS -->
    </div>
    
    <!-- NAVBAR SCRIPT FOR RESIZING NAVBAR -->
    <script>
        // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            document.getElementById("task").style.padding = "0px 0px";
            document.getElementById("task").style.backgroundColor = "white";
            document.getElementById("task").style.opacity = "1";
            document.getElementById("task").style.height= "80px";
	   
            $("#mymenu").removeClass("dropdownmenubgw");
            $("#mymenu").addClass("dropdownmenubg");
            $(".nav-link").addClass("text-dark");
            $(".navbar-brand").addClass("text-dark");
            document.getElementById("logo").style.transition= ".5s";
            document.getElementById("logo").style.color= "black";
            
            document.getElementById("task").style.transition= ".5s";  
          } 
        else {
            $("#mymenu").removeClass("dropdownmenubg");
            $("#mymenu").addClass("dropdownmenubgw");
            $(".nav-link").removeClass("text-dark");
            $(".nav-link").addClass("text-white");
            $(".navbar-brand").removeClass("text-dark");
            document.getElementById("task").style.height= "101px";
            //document.getElementById("task").style.padding = "10px 10px 10px 10px";
            document.getElementById("task").style.backgroundColor = "rgba(112, 112, 156,0)";
            document.getElementById("task").style.transition= ".5s";
            document.getElementById("logo").style.transition= ".5s";
            document.getElementById("logo").style.color= "white";
            
             }
        }
    </script>
    <!-- CHECK USERNAME SCRIPT STARTS -->
    <script>
        function checkusername(){
            let un=document.getElementById("username").value;
            $.ajax({
                url:"{% url 'check_user' %}",
                type:"get",
                data:{usern:un},
                success:function(data){
                    if (data=="exists"){
                        $("#result").html("Username is already Taken!!").css("color","red");
                        $("#submitbtn").attr("disabled","disabled");
                    }
                    else{
                        $("#result").html("Username Available").css("color","green");
                        $("#submitbtn").removeAttr("disabled","disabled");
                    }

                    
                }
            })
            }
    </script>
    <!-- CHECK USERNAME SCRIPT ENDS -->
    {% if status %}
        <script>
            alert("{{status}}");
        </script>
    {% endif %}
    {% if sub %}
        <script>
            alert("{{sub}}");
        </script>
    {% endif %}
    {% if invalid_login %}
        <script>
            alert("{{invalid_login}}")
        </script>
    {% endif %}
    


    <script>
        function forgot_pwd(){
            $("#loginmodal").hide();
        }
        function getpass(){
            let username=$("#un").val();
            $.ajax({
                url:"{% url 'reset_password' %}",
                type:"get",
                data:{username:username},
                success:function(data){
                   
                    if(data.status=="notfound"){
                        alert("Not registred yet with DOCEO")
                    }
                    else if(data.status=="notsent"){
                        alert("Something went wrong"+data.email+"email is not sent to given email")
                    }
                    else if(data.status=="sent"){
                        alert("An OTP is sent to your registred Email: "+data.email)
                        $("#continue").hide();
                        $("#afterotp").slideDown(1000);
                        $("#realotp").val(data.rotp); 
                        
                       
                    }
                }
            })
        }
        function verifyotp(){
            let uotp=$("#uotp").val()
            let rotp=$("#realotp").val()
            if(uotp==rotp){
                $("#afterotp").hide();
                $("#changepwd").slideDown(1000);
                alert("OTP Verification Success ")
            }
            else{
                alert("OTP doesnot Matched");
            }
        }
    </script>
</body>
</html>