{% extends "base.html" %}
{% load static %}
{% block style_block %}
<style>
    .detail_back{
            background-color: black;
            height: 200px;
            padding-top: 70px;
        }
.stuimg{
    background-size: 100% 100%;
    height: 400px;
    width: 500px;
}
.side_menu_ul{
background-color: black;
}
.nav_bar{
    background-color: black;
    
}
.user_imgg{
    width: 80px;
    height: 80px;
    border-radius: 50% 50%;
}
.view_img{
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
}
.full_name_display{
    font-family: 'Satisfy';font-weight: bold;
    position: absolute; right: 10px;
    color: greenyellow;
}

</style>
{% endblock %}


{% block content_block%}

{% if user.is_superuser%}
<!-- TOP HEADER DISPLAYS STUDENT DASHBOARD OR TUTOR DASHBOARD -->
<div class="row px-0 ">
    <div class="col-md-12 detail_back  px-0 text-center">
        <h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Dashboard</h1>
        <h3 class="text-center full_name_display" >Welcome {{user.first_name}} {{user.last_name}}</h3>
        
        
    </div>
</div>
<!-- TOP HEADER DISPLAYS STUDENT DASHBOARD OR TUTOR DASHBOARD ENDS-->

<div class="row">
    <div class="col-md-12 text-center">
        <h1>Admins are not allowed here</h1>
    </div>
</div>

{% else %}
<!-- TOP HEADER DISPLAYS STUDENT DASHBOARD OR TUTOR DASHBOARD -->
<div class="row px-0 ">
    <div class="col-md-12 detail_back  px-0 text-center">
        {% block top_block %}

        {% endblock %}
        
        <h3 class="text-center full_name_display" >Welcome {{user.first_name}} {{user.last_name}}</h3>
        
        
    </div>
</div>
<!-- TOP HEADER DISPLAYS STUDENT DASHBOARD OR TUTOR DASHBOARD ENDS-->
<div class="row my-5">
    <!-- LEFT SIDE CONTROL PANEL -->
    <div class="col-md-2 border-right px-0">
        
        <nav class="navbar ">
            <!-- PROFILE PIC, USER_NAME, PHONE NUMBER AND EMAIL DISPLAYS LEFT SIDE -->
        <div class="row px-0">
            <div class="col-md-4">
                {%if data.profile_pic %}
                <img src="/media/{{data.profile_pic}}" class="user_img"alt="">
                {% else %}
                <img src="{% static '/images/icon_img.jpg' %}" class="user_imgg"alt="">
                
                {% endif %}
            </div>
            <div class="col-md-8">
                <h4>{{user.username}}</h4>
                <small><i class="fa fa-phone"></i> {{data.phone}}<br>
                <i class="fa fa-envelope-square">{{user.email}}</i> </small>
            </div>
        </div>
        <!-- PROFILE PIC, USER_NAME, PHONE NUMBER AND EMAIL DISPLAYS LEFT SIDE ENDS-->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="" class="btn btn-outline-secondary my-1 w-100" data-toggle="modal" data-target="#viewprofile">VIEW PROFILE</a>        
                </li>
                <li class="nav-item">
                    <a href="" class="btn btn-outline-secondary my-1 w-100" data-toggle="modal" data-target="#editprofile">EDIT PROFILE</a>        
                </li>
                <li class="nav-item">
                    <a href="" class="btn btn-outline-secondary my-1 w-100" data-toggle="modal" data-target="#changepwd1" >CHANGE PASSWORD</a>        
                </li>
                {% if user.is_staff and user.is_active%}
                <li class="nav-item">
                    <a href="{% url 'add_full_course'%}" class="btn btn-outline-secondary my-1 w-100" >ADD COURSE</a>        
                </li>
                <li class="nav-item">
                    <a href="{% url 'tutor_courses'%}" class="btn btn-outline-secondary my-1 w-100" >MY COURSES</a>        
                </li>
                <li class="nav-item">
                    <a href="{% url 'sendemail'%}" class="btn btn-outline-secondary my-1 w-100" >SEND EMAIL</a>        
                </li>
                
                {% else %}
                <li class="nav-item">
                    <a href="" class="btn btn-outline-secondary my-1 w-100" data-toggle="modal" data-target="#givefeedback" >MY FEEDBACKS</a>        
                </li>
                <li class="nav-item">
                    <a href="{% url 'cart_ss'%}" class="btn btn-outline-secondary my-1 w-100"  >MY CART</a>        
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'user_logout'%}" class="btn btn-outline-secondary my-1 w-100">LOGOUT</a>        
                </li>
            </ul>
            
        </nav>
        
    </div>
    <!-- LEFT SIDE CONTROL PANEL ENDS -->
    
    {% if user.is_staff and user.is_active %}
    <div class="col-md-9 mx-auto border text-center shadow-sm">
      
        <div class="row py-2">
            <div class="col-md-3 border p-2 shadow-sm mx-auto">
                <img class="mx-auto" src="{% static 'images/personal-information-icon.png'%}" width="200" height="200" alt="">
                <h4 class="text-success">Personal Information</h4>
                <p class="text-secondary">Great! You have completed your personal information.</p>
                <button class="btn btn-outline-success rounded-pill" data-toggle="modal" data-target="#viewprofile">View my personal info</button>
            </div>
            <div class="col-md-3 border p-2 shadow-sm mx-auto">
                <img class="mx-auto" src="{% static 'images/courses.png'%}" width="200" height="200" alt="">
                <h4 class="text-warning ">My Experience</h4>
                <p class="text-secondary">Great! You have completed your personal information.</p>
                <button class="btn btn-outline-warning rounded-pill" data-toggle="modal" data-target="#viewcerti">View my experience info</button>
            </div>
            <div class="col-md-3 border p-2 shadow-sm mx-auto">
                <img class="mx-auto" src="{% static 'images/education icon.png'%}" width="200" height="200" alt="">
                <h4 class="text-success">Educational Details</h4>
                <p class="text-secondary">Great! You have completed your personal information.</p>
                <button class="btn btn-outline-success rounded-pill" data-toggle="modal" data-target="#viewedu">View my educational info</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4"><h6>Last Login:<br>{{user.last_login}}</h6></div>
            <div class="col-md-4"><h6>Date Joined:<br>{{user.date_joined}}</h6></div>
            <div class="col-md-4"><h6>Profile Updated:<br>{{data.updated_on}}</h6></div>
        </div>
        
        
    </div>
    
    {% else %}
    <div class="col-md-9 mx-auto border p-2  text-center shadow-sm">
      
        <div class="row py-2">
            <div class="col-md-3 border p-2 shadow-sm mx-auto">
                <img class="mx-auto" src="{% static 'images/personal-information-icon.png'%}" width="200" height="200" alt="">
                <h4 class="text-success">Personal Information</h4>
                <p class="text-secondary">Great! You have completed your personal information.</p>
                <button class="btn btn-outline-success rounded-pill" data-toggle="modal" data-target="#viewprofile">View my personal info</button>
            </div>
            <div class="col-md-3 border p-2 shadow-sm mx-auto">
                <img class="mx-auto" src="{% static 'images/courses.png'%}" width="200" height="200" alt="">
                <h4 class="text-warning ">My Courses</h4>
                <p class="text-secondary">Great! You have completed your personal information.</p>
                <a class="btn btn-outline-warning rounded-pill" href="{%url 'my_courses'%}">View my courses info</a>
            </div>
            <div class="col-md-3 border p-2 shadow-sm mx-auto">
                <img class="mx-auto" src="{% static 'images/education icon.png'%}" width="200" height="200" alt="">
                <h4 class="text-success">Educational Details</h4>
                <p class="text-secondary">Great! You have completed your personal information.</p>
                <button class="btn btn-outline-success rounded-pill">View my educational info</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6"><h6>Last Login:<br>{{user.last_login}}</h6></div>
            <div class="col-md-6"><h6>Date Joined:<br>{{user.date_joined}}</h6></div>
        </div>
        
        
    </div>
    {% endif%}
</div>
<!-- VIEW PROFILE STARTS -->
<div id="viewprofile" class="modal fade p-2" >
    <div class="modal-dialog modal-lg" style="width: 700px;">
        <!-- Modalcontent-->
        <div class="modal-content">
            <div class="modal-header text-center">
                
               
                <h1>View Profile</h1>
                {%if data.profile_pic %}
                <img src="/media/{{data.profile_pic}}" class="view_img border ml-3 border-secondary"alt="">
                {% else %}
                <img src="{% static '/images/icon_img.jpg' %}" class="user_img"alt="">
                
                {% endif %}
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 p-2">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>User Id</th><td>{{user.id}}</td><th>User Name</th><td>{{user.username}}</td>
                                    </tr>
                                    <tr>
                                        <th>Full Name</th><td>{{user.first_name}} {{user.last_name}}</td><th>Contact Number</th><td>{{data.phone}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <th>Email</th><td>{{user.email}}</td><th>Last Course</th><td>{{data.education}}</td>
                                    </tr>
                                    <tr>
                                        <th>Age</th><td>{{data.age}}</td><th>Gender</th><td>{{data.gender}}</td>
                                    </tr>
                                    <tr>
                                        <th>City</th><td>{{data.city}}</td><th>Current Status</th><td>{{data.current_status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                    
                </div>
            </div>
</div>
</div>
</div>
</div>

<!-- VIEW PROFILE ENDS -->

<!-- EDIT PROFILE STARTS -->
<div id="editprofile" class="modal fade" >
    <div class="modal-dialog modal-xl">
        <!-- Modalcontent-->
        <div class="modal-content">
            <div class="modal-header text-center">
                
               
                <h1>Edit Profile</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                    
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token%}
                                {% if status %}
                                    <div class="alert alert-primary">{{status}}</div>
                                {% endif %}
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>First Name</th><td><div class="form-group"><input type="text" class="form-control" name="fname" value="{{user.first_name}}"></div></td>
                                            <th>Last Name</th><td><div class="form-group"><input type="text" class="form-control" name="lname" value="{{user.last_name}}"></div></td>
                                        </tr>
                                        <tr>
                                            <th>Profile Pic</th><td><div class="form-group"><input type="file" class="form-control" name="profile_pic"  width="100"></div></td>
                                            <th>Email</th><td><div class="form-group"><input type="email" class="form-control" name="email" value="{{user.email}}"></div></td>
                                        </tr>
                                        
                                        <tr>
                                            <th>Contact Number</th><td><div class="form-group"><input type="text" class="form-control" name="contact" value="{{data.phone}}" pattern="[0-9]{10}" title="Number Must Contains 10 Digits only"></div></td>
                                            <th>Age</th><td><div class="form-group"><input type="number" class="form-control" name="age" value="{{data.age}}" min="15" max="99"></div></td>
                                        </tr>
                                        <tr>
                                        <th>City</th><td><div class="form-group"><input type="text" class="form-control" name="city" value="{{data.city}}"></div></td>
                                        <th>Gender</th><td><div class="form-group">
                                            <select name="gen" id="" class="form-control">
                                            
                                                <option value="Male">Male</option>
                                                {% if data.gender == "Female" %}
                                                <option value="Female" selected>Female</option>
                                                {% else %}
                                                <option value="Female">Female</option>
                                                {% endif%}
                                        </select></td>
                                        </tr>
                                        <tr>
                                            <th>Last Course or Degree</th><td><div class="form-group"><input type="text" class="form-control" name="education" value="{{data.education}}"></div></td>
                                            <th>Current Status</th><td><div class="form-group"><input type="text" class="form-control" name="current_status" value="{{data.current_status}}"></div></td>
                                        </tr>
                                        
                                        
                                    </tbody>
                                    
                                </table>
                                <div class="form-group">
                                    <input type="submit" name="editprofilesubmit" class="form-control btn btn-warning text-white" value="Update Profile">
                                </div>
                            </form>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EDIT PROFILE ENDS -->
<!-- Change Your Password STARTS -->
<div id="changepwd1" class="modal fade" >
    <div class="modal-dialog">
        <!-- Modalcontent-->
        <div class="modal-content">
            <div class="modal-header text-center">             
                <h1>Change Your Password</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                    
                            <form method="POST">
                                {% csrf_token%}
                                {% if msz %}
                                    <div class="alert {{col}}">{{msz}}</div>
                                {% endif %}
                                <div class="form-group"><input type="password" class="form-control" name="cupwd" placeholder="Current Password"></div>
                                <div class="form-group"><input type="password" class="form-control" name="npwd" placeholder="New Password" id="newpwd" onkeyup="check_password()"></div>
                                <div class="form-group"><input type="password" class="form-control" name="cpwd" placeholder="Confirm New Password" id="conpwd"onkeyup="check_password()" ></div>
                                <div class="form-group">
                                    <input type="submit" name="changepwdsubmit" class="form-control btn btn-warning text-white" value="Change Password" id="cpwdsubmit">
                                </div>
                            </form>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Change Your Password ENDS -->
<script>
    function check_password(){
        let np=$("#newpwd").val();
        let cp=$("#conpwd").val();
        if(np==cp)
        {
            $("#newpwd").css("border","2px solid green")
            $("#conpwd").css("border","2px solid green")
            $("#cpwdsubmit").removeAttr("disabled")
        }
        else{
            $("#newpwd").css("border","2px solid red")
            $("#conpwd").css("border","2px solid red")
            $("#cpwdsubmit").attr("disabled","disabled")

        }
    }
</script>
<!-- VIEW CERTIFICATES STARTS -->
<div id="viewcerti" class="modal fade p-2" >
    <div class="modal-dialog modal-lg" style="width: 700px;">
        <!-- Modalcontent-->
        <div class="modal-content">
            <div class="modal-header text-center">
                
               
                <h1>My Certificates</h1>
                {%if data.profile_pic %}
                <img src="/media/{{data.profile_pic}}" class="view_img border ml-3 border-secondary"alt="">
                {% else %}
                <img src="{% static '/images/icon_img.jpg' %}" class="user_img"alt="">
                
                {% endif %}
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 p-2 text-center">
                            <h3>No Certificates Uploaded Yet</h3>
                    
                </div>
            </div>
</div>
</div>
</div>
</div>

<!-- VIEW CERTIFICATES ENDS -->
<!-- GIVE FEEDBACK STARTS -->
<div id="givefeedback" class="modal fade p-2" >
    <div class="modal-dialog modal-lg" style="width: 700px;">
        <!-- Modalcontent-->
        <div class="modal-content">
            <div class="modal-header text-center">
                
               
                <h1>My Feedbacks</h1>
                {%if data.profile_pic %}
                <img src="/media/{{data.profile_pic}}" class="view_img border ml-3 border-secondary"alt="">
                {% else %}
                <img src="{% static '/images/icon_img.jpg' %}" class="user_img"alt="">
                
                {% endif %}
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 p-2 text-center">
                            <h3>{{data.feedback_input}}</h3>
                    <form action="" method="POST">
                        {%  csrf_token %}
                        <div class="form-group">
                            <input type="text" name="feed" class="form-control" placeholder="Give New Feedback">
                        </div>
                        <input type="submit" name="feedbackinput"  class="btn btn-warning"value="Submit">
                    </form>
                </div>
            </div>
</div>
</div>
</div>
</div>

<!-- GIVE FEEDBACK ENDS -->

<!-- VIEW EDUCATIONAL DETAILS STARTS -->
<div id="viewedu" class="modal fade p-2" >
    <div class="modal-dialog modal-lg" style="width: 700px;">
        <!-- Modalcontent-->
        <div class="modal-content">
            <div class="modal-header text-center">
                
               
                <h1>View Educational Details</h1>
                {%if data.profile_pic %}
                <img src="/media/{{data.profile_pic}}" class="view_img border ml-3 border-secondary"alt="">
                {% else %}
                <img src="{% static '/images/icon_img.jpg' %}" class="user_img"alt="">
                
                {% endif %}
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 p-2">
                            <table class="table">
                                <tbody>
                                    
                                    <tr>
                                        <th>Current Status</th><td>{{data.current_status}}</td><th>Last Course</th><td>{{data.education}}</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                    
                </div>
            </div>
</div>
</div>
</div>
</div>

<!-- VIEW EDUCATIONAL DETAILS ENDS -->

{% endif %}
{% block my_block%}

{% endblock%}
{% endblock%}