{% extends "base.html"%}
{% load static%}
{%block content_block%}
<div class="row" style="background-color: black;height: 250px;">
    <div class="col-md-12 text-center pt-5">
        <h1 class="text-center text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Career Opportunities</h1>
                <h3 class="text-center text-white">We <i style="color: red;"class="fa fa-heart"></i> to hire U</h3>
        
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto text-center p-5">
        <h3>Sorry No recruitments are in process</h3>
        <h4>We will Update as soon as availiable</h4>
    </div>
</div>
{%endblock%}