{% extends "base.html"%}
{% block content_block%}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        {% if status %}
            <h1 class="text-white mt-5">{{status}}</h1>
        {% else %}
        
            <h1 class="text-white mt-5">My Cart ({{items|length}})</h1>
        {% endif %}
    </div>
</div>
<div class="row p-5">
    <div class="col-md-8 mx-auto">
        {% if msz %}
            <div class="{{cls}}">{{msz}}</div>
        {% endif%}
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product name</th>
                    <th>Product Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in items %}
                    <tr id="row{{i.id}}">
                        <td><img src="/media/{{i.product.product_image}}" width="200" height="100" alt=""></td>
                        <td>{{i.product.product_name}}</td>
                        <td><del>{{i.product.product_price}}</del>  <span class="text-danger font-weight-bold">{{i.product.sale_price}}</span></td>
                        <td>
                         <div class="input-group">
                            <div class="input-group-append">
                                <button class="input-group-text" onclick="change_quan('{{i.id}}','minus')"><i class="fas fa-minus" ></i></button>
                            </div>
                            <input type="text" class="form-control" style="width:30px" id="cartqty{{i.id}}" value="{{i.quantity}}">
                            <div class="input-group-prepend">
                                <button class="input-group-text" onclick="change_quan('{{i.id}}','plus')"><i class="fas fa-plus"></i></button>
                            </div>
                         </div>    
                            
                        </td>
                        <td><button onclick="remove_cart('{{i.id}}')"  class="btn btn-danger">&times; Remove</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-3 mx-auto">
        <table class="table">
            <tbody>
                <tr>
                    <th>Product Total</th>
                    <td id="itemtotal"></td>
                </tr>
                <tr>
                    <th>Sale Price</th>
                    <td style="color:red;" id="yousaved"></td>
                </tr>
                <tr>
                    <th>Discount</th>
                    <td id="discount" style="color:red;"></td>
                </tr>
                <tr>
                    <th>Delivery</th>
                    <td>Free</td>
                </tr>
                <tr>
                    <th>Total Items</th>
                    <td id="tqty"></td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'process_payment' %}" class="btn btn-primary">Proceed To Checkout</a>
                    </td>
                    <td><a  class="btn btn-primary text-white" href="{% url 'all_products'%}">Shop</a></td>
                </tr>
                
            </tbody>
            
            <thead class="thead-dark">
                <tr>
                    <th>Grand Total</th>
                    <th id="gtotal"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    function grandtotal(){
        $.ajax({
            url:"{% url 'get_cart_data'%}",
            type:'get',
            success:function(data){
                dis=Math.round(data.total-data.offer)
                $("#itemtotal").html("&#8377;"+data.total)
                $("#yousaved").html("&#8377;"+data.offer)
                $("#tqty").html(data.quan)
                $("#discount").html("&#8377;"+dis)
                $("#gtotal").html("&#8377;"+data.offer)
            }
        })
    }
    grandtotal();
    function change_quan(id,action){
        
        let old=$("#cartqty"+id).val();
        quan=0
        if(action=="plus"){
            quan += parseInt(old)+1
        }
        else{
            
            quan += parseInt(old) - 1
            
        }
         
        $("#cartqty"+id).val(quan);

        $.ajax({
            url:"{% url 'change_quan'%}",
            type:'get',
            data:{cid:id,quantity:quan},
            success:function(data){
                grandtotal();
                if(data==0)
                {
                    remove_cart(id);
                }    
            }
        })
    }


    function remove_cart(id){
        $.ajax({
            url:"{% url 'change_quan'%}",
            data:{remove_prd:id},
            success:function(data){
                grandtotal();
                $("#row"+id).hide();

            }
        })
    }
</script>
{% endblock %}