{% extends "base.html"%}
{% block content_block%}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        {% if status %}
            <h1 class="text-white mt-5">{{status}}</h1>
        {% else %}
        
            <h1 class="text-white mt-5">My Cart ({{items|length}})</h1>
        {% endif %}
    </div>
</div>
<div class="row p-5">
    <div class="col-md-8 mx-auto">
        {% if msz %}
            <div class="{{cls}}">{{msz}}</div>
        {% endif%}
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Course name</th>
                    <th>Course Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                {% for i in items %}
                    <tr id="row{{i.id}}">
                        <td><img src="/media/{{i.topic.course_pic}}" width="200" height="100" alt=""></td>
                        <td>{{i.topic.course_name}}</td>
                        <td><del>{{i.topic.course_price}}</del>  <span class="text-danger font-weight-bold">{{i.product.sale_price}}</span></td>
                        <td>
                            <input type="text" class="form-control" style="width:50px" id="cartqty{{i.id}}" value="{{i.quantity}}">
                            
                        </td>
                        <td><button onclick="remove_cart('{{i.id}}')"  class="btn btn-danger">&times; Remove</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-3 mx-auto">
        <table class="table">
            <tbody>
                <tr>
                    <th>Product Total</th>
                    <td id="itemtotal"></td>
                </tr>
                <tr>
                    <th>Sale Price</th>
                    <td style="color:red;" id="yousaved"></td>
                </tr>
                <tr>
                    <th>Discount</th>
                    <td id="discount" style="color:red;"></td>
                </tr>
                
                <tr>
                    <th>Total Items</th>
                    <td id="tqty"></td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'process_payment' %}" class="btn btn-primary">Payment Checkout</a>
                    </td>
                    <td><a  class="btn btn-warning text-white" href="{% url 'courses'%}">Shop</a></td>
                </tr>
                
            </tbody>
            
            <thead class="thead-dark">
                <tr>
                    <th>Grand Total</th>
                    <th id="gtotal"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    function grandtotal(){
        $.ajax({
            url:"{% url 'get_cart_data'%}",
            type:'get',
            success:function(data){
                dis=Math.round(data.total-data.offer)
                $("#itemtotal").html("&#8377;"+data.total)
                $("#yousaved").html("&#8377;"+data.offer)
                $("#tqty").html(data.quan)
                $("#discount").html("&#8377;"+dis)
                $("#gtotal").html("&#8377;"+data.offer)
            }
        })
    }
    grandtotal();
    

    function remove_cart(id){
        $.ajax({
            url:"{% url 'change_quan'%}",
            data:{remove_prd:id},
            success:function(data){
                grandtotal();
                $("#row"+id).hide();

            }
        })
    }
</script>
{% endblock %}