{% extends "base.html" %}
{% load static %}
{% block style_block %}
<style>
    .contact-body{
    position: relative;
    top:-130px;
      background-color: blanchedalmond;
    
}
.fname,.lname,.emailinp,.phoneinp{
    background: none;
    border: 1px solid darkgrey;
}
.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:hover{
    border-color: #FFCC00;
    -webkit-box-shadow: none;
    box-shadow: none;
}

</style>

{% endblock %}

{% block content_block %}
<section>
    <div class="container-fluid px-0">
        <div class="row px-0">
            <div class="col-md-12 bg-dark p-5 px-0">
                <h1 class="text-center text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Let's Connect</h1>
                <h3 class="text-center text-white mb-5 pb-5">We'd <i style="color: red;"class="fa fa-heart"></i> to help you start exceeding your CX goals</h3>
            
            </div>
        </div>
    </div>
    <div class="container contact-body animated fadeInUp" >
        <div class="row my-5">
            <div class="col-md-6  mt-5 mb-5 ml-5 mr-3" >
                <h2>Want to Reach Us..</h2><br/>
               
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">First Name</label>
                            <input type="text" class="form-control fname" name="fname" id="" placeholder="First Name">
                        </div>
                        <div class="col-md-6">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control lname" name="lname" id="" placeholder="Last Name">
                        </div>
                        <div class="col-md-12">
                            <label for="">Email</label>
                            <input type="text" class="form-control emailinp" name="email" id="" placeholder="Email">
                        </div>
                        <div class="col-md-12">
                            <label for="">Phone Number</label>
                            <input type="text" class="form-control phoneinp" name="phone" id="" placeholder="E.g.: 0123456789">
                        </div>
                        <div class="col-md-12">
                            <label for="">Message</label>
                            <textarea type="" class="form-control phoneinp" name="message" id="" placeholder="Write your message here...."></textarea>
                        </div>
                        <div class="col-md-12">
                            <br/>
                            <button class="btn btn-warning text-white btn-outline-white btn-block">Submit Here</button>
                        </div>
                    </div>
                    
                </form>
    
            </div>
            <div class="col-md-5 mt-5 ml-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.1990754594863!2d76.69232891461024!3d30.712803393645064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee556c548209%3A0x9a1125eebce6cc68!2sQuadrant%20Televentures%20Limited!5e0!3m2!1sen!2sin!4v1580981648247!5m2!1sen!2sin" width="400px" height="400px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                <h4 class="mt-2">Quadrant Televentures Ltd. Mohali</h4>
            </div>
        </div>
    </div>
</section>
{% if status %}
    <script>
        alert("{{status}}");
    </script>
{% endif %}
<script>
    $("#link6").addClass('bg-warning').css("border-bottom","3px solid white");
  
  </script>    

{% endblock %}