{% extends "base.html" %}
{% load static %}
{% block style_block %}
<link href="{% static 'flipbox_plugin/touch-3d-flip-box/dist/flip-box.min.css'%}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'flipbox_plugin/touch-3d-flip-box/dist/flip-box.js'%}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.p_back{
            background-color: black;
            height: 300px;
            padding-top: 100px;
        }
        .clas{
            position: relative;
            bottom: 10px;
            left: 10px;
        }
        .nav-link{
        color: white;
      }
      .nav-link:hover{
        background-color: yellow;
      }
      .nav-link:visited{
        background-color: yellow;
      }
      .bod-flip-box{
        height: 100%;
        width: 100%;
      }
      
</style>
{% endblock %}
{% block content_block %}
<section>
    <div class="container-fluid px-0">
        <div class="row px-0 ">
            <div class="col-md-12 p_back  px-0">
                <h1 class="text-center text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Various Courses</h1>
                <h3 class="text-center text-white">We <i style="color: red;"class="fa fa-heart"></i> to teach U with our best Experts </h3>
                <!-- <h5 class="text-white track ">Home > Courses</h5> -->
                <a class="text-white" href="{% url 'all_products'%}">All Courses</a>
            </div>
        </div>
    </div>
    <div class="container-fluid my-5">
        <div class="row mt-3">
          <div class="col-md-2 pt-5 pb-5 bg-dark d-none d-md-block">
            <div class="nav  flex-sm-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              {% for i in course_t %}
              <a class="nav-link active my-1" href="{% url 'courses_detail'%}?cat={{i.id}}" >{{i}}</a>
             {% endfor %}
            
            </div>
           
    
          </div>
          <div class="col-md-10">
            <div class="row">
              {% for i in course_t %}
              <div class="col-md-3 mx-auto my-2">
                <div class="card px-0">
                  <img src="/media/{{i.course_pic}}" class="border" width="100%" height="130" alt="">
                  <div class="card-body">
                    <h6 ><a class="text-dark" href="{% url 'courses_detail'%}?cat={{i.id}}">{{i.course_name}}</a></h6>
                  <span class="fa fa-star text-warning"><span class="fa fa-star text-warning"><span class="fa fa-star text-warning"><span class="fa fa-star text-warning"><span class="fa fa-star text-dark">&nbsp;&nbsp;&nbsp;<b class="text-dark">4.5</b>&nbsp;&nbsp;<small class="text-secondary">(1548965)</small></span>
                  
                  
                  </span>
                  </span>
                  </span>
                  </span>
                  <br>
                  <small class="text-secondary"><b>Tutor Name</b></small>
                  <br>
                  <br>
                  <form action="{% url 'cart_ss'%}" method="POST">
                    {% csrf_token%}
                  <input type="hidden" value="{{i.id}}" name="pid_hidd">
                  <input type="hidden" value="1" name="qtty">
                  <button type="submit" class="btn btn-danger btn-lg w-75 border">Add to Cart</button>
                  </form>
                  </div>
                  
                </div>
                  
              </div>
              {% endfor %}
            </div>


            <!-- <div class="card">
              <div class="card-body">
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="container">
                      <div class="row">
                        {% for i in course_t %}
                        <div class="col-md-3 m-2 mx-auto">
                          <div class="card p-1" style="height:200px; width:100%; ">
                            <div class="bod-flip-box" style="background-image: url('/{{i.course_pic}}');background-size: 100% 100%;">
                              <div class="flip-inner" >
                                <div class="flip-front" style="background: rgba(44,44,44,.5);">
                                  <div class="flip-front-content py-0">
                                  
                                    
                                    
                                </div>
                                
                                </div>
                                
                                <div class="flip-back">
                                  <div class="flip-back-content">
                                    <p style="overflow: hidden;height: 130px;">{{i.description}}</p>
                                  </div>
                                </div>
                                
                              </div>
                              
                            </div> 
                            <h4 class="text-center"><a href="{% url 'all_products'%}?cat={{i.id}}">{{i.course_name}}</a></h4>
                            
                          </div>
                          </div>
          
                       {% endfor %}
                      
                      
                      </div>
                      
                    </div>  
                  </div>
                  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">... </div>
                  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">... </div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="container">
                      <div class="row">
                      <div class="col-md-3">
                      <div class="card" style="height:200px; width:100%; ">
                        <div class="bod-flip-box">
                          <div class="flip-inner">
                            <div class="flip-front">
                              <div class="flip-front-content">
                                Front Content
                            </div>
                            </div>
                            <div class="flip-back">
                              <div class="flip-back-content">
                                Back Content
                              </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                      </div>
                      <div class="col-md-3">
                      <div class="card" style="height:200px; width:100%; ">
                        <div class="bod-flip-box">
                          <div class="flip-inner">
                            <div class="flip-front">
                              <div class="flip-front-content">
                                Front Content
                            </div>
                            </div>
                            <div class="flip-back">
                              <div class="flip-back-content">
                                Back Content
                              </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="card" style="height:200px; width:100%; ">
                          <div class="bod-flip-box">
                            <div class="flip-inner">
                              <div class="flip-front">
                                <div class="flip-front-content">
                                  Front Content
                              </div>
                              </div>
                              <div class="flip-back">
                                <div class="flip-back-content">
                                  Back Content
                                </div>
                              </div>
                            </div>
                          </div> 
                        </div>
                        </div>
                      <div class="col-md-3">
                      <div class="card" style="height:200px; width:100%; ">
                        <div class="bod-flip-box" >
                          <div class="flip-inner">
                            <div class="flip-front">
                              <div class="flip-front-content">
                                Front Content
                            </div>
                            </div>
                            <div class="flip-back">
                              <div class="flip-back-content">
                                Back Content
                              </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="card" style="height:200px; width:100%; ">
                            <div class="bod-flip-box">
                              <div class="flip-inner">
                                <div class="flip-front">
                                  <div class="flip-front-content">
                                    Front Content
                                </div>
                                </div>
                                <div class="flip-back">
                                  <div class="flip-back-content">
                                    Back Content
                                  </div>
                                </div>
                              </div>
                            </div> 
                          </div>
                          </div>
                          <div class="col-md-3">
                            <div class="card" style="height:200px; width:100%; ">
                              <div class="bod-flip-box">
                                <div class="flip-inner">
                                  <div class="flip-front">
                                    <div class="flip-front-content">
                                      Front Content
                                  </div>
                                  </div>
                                  <div class="flip-back">
                                    <div class="flip-back-content">
                                      Back Content
                                    </div>
                                  </div>
                                </div>
                              </div> 
                            </div>
                            </div>
                            <div class="col-md-3">
                              <div class="card" style="height:200px; width:100%; ">
                                <div class="bod-flip-box">
                                  <div class="flip-inner">
                                    <div class="flip-front">
                                      <div class="flip-front-content">
                                        Front Content
                                    </div>
                                    </div>
                                    <div class="flip-back">
                                      <div class="flip-back-content">
                                        Back Content
                                      </div>
                                    </div>
                                  </div>
                                </div> 
                              </div>
                              </div>
                              <div class="col-md-3">
                                <div class="card" style="height:200px; width:100%; ">
                                  <div class="bod-flip-box">
                                    <div class="flip-inner">
                                      <div class="flip-front">
                                        <div class="flip-front-content">
                                          Front Content
                                      </div>
                                      </div>
                                      <div class="flip-back">
                                        <div class="flip-back-content">
                                          Back Content
                                        </div>
                                      </div>
                                    </div>
                                  </div> 
                                </div>
                                </div>
    
                      </div>
                    </div>               
                   </div>
                  <div class="tab-pane fade" id="v-pills-Django" role="tabpanel" aria-labelledby="v-pills-Django-tab">  
                    <div class="container">
                      <div class="row">
                      <div class="col-md-3">
                      <div class="card" style="height:200px; width:100%; ">
                        <div class="bod-flip-box">
                          <div class="flip-inner">
                            <div class="flip-front">
                              <div class="flip-front-content">
                                Front Content
                            </div>
                            </div>
                            <div class="flip-back">
                              <div class="flip-back-content">
                                Back Content
                              </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                      </div>
                      <div class="col-md-3">
                      <div class="card" style="height:200px; width:100%; ">
                        <div class="bod-flip-box">
                          <div class="flip-inner">
                            <div class="flip-front">
                              <div class="flip-front-content">
                                Front Content
                            </div>
                            </div>
                            <div class="flip-back">
                              <div class="flip-back-content">
                                Back Content
                              </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="card" style="height:200px; width:100%; ">
                          <div class="bod-flip-box">
                            <div class="flip-inner">
                              <div class="flip-front">
                                <div class="flip-front-content">
                                  Front Content
                              </div>
                              </div>
                              <div class="flip-back">
                                <div class="flip-back-content">
                                  Back Content
                                </div>
                              </div>
                            </div>
                          </div> 
                        </div>
                        </div>
                      <div class="col-md-3">
                      <div class="card" style="height:200px; width:100%; ">
                        <div class="bod-flip-box" >
                          <div class="flip-inner">
                            <div class="flip-front">
                              <div class="flip-front-content">
                                Front Content
                            </div>
                            </div>
                            <div class="flip-back">
                              <div class="flip-back-content">
                                Back Content
                              </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="card" style="height:200px; width:100%; ">
                            <div class="bod-flip-box">
                              <div class="flip-inner">
                                <div class="flip-front">
                                  <div class="flip-front-content">
                                    Front Content
                                </div>
                                </div>
                                <div class="flip-back">
                                  <div class="flip-back-content">
                                    Back Content
                                  </div>
                                </div>
                              </div>
                            </div> 
                          </div>
                          </div>
                          <div class="col-md-3">
                            <div class="card" style="height:200px; width:100%; ">
                              <div class="bod-flip-box">
                                <div class="flip-inner">
                                  <div class="flip-front">
                                    <div class="flip-front-content">
                                      Front Content
                                  </div>
                                  </div>
                                  <div class="flip-back">
                                    <div class="flip-back-content">
                                      Back Content
                                    </div>
                                  </div>
                                </div>
                              </div> 
                            </div>
                            </div>
                            <div class="col-md-3">
                              <div class="card" style="height:200px; width:100%; ">
                                <div class="bod-flip-box">
                                  <div class="flip-inner">
                                    <div class="flip-front">
                                      <div class="flip-front-content">
                                        Front Content
                                    </div>
                                    </div>
                                    <div class="flip-back">
                                      <div class="flip-back-content">
                                        Back Content
                                      </div>
                                    </div>
                                  </div>
                                </div> 
                              </div>
                              </div>
                              <div class="col-md-3">
                                <div class="card" style="height:200px; width:100%; ">
                                  <div class="bod-flip-box">
                                    <div class="flip-inner">
                                      <div class="flip-front">
                                        <div class="flip-front-content">
                                          Front Content
                                      </div>
                                      </div>
                                      <div class="flip-back">
                                        <div class="flip-back-content">
                                          Back Content
                                        </div>
                                      </div>
                                    </div>
                                  </div> 
                                </div>
                                </div>
    
                      </div>
                    </div>  
                  
                  
                  </div>
                </div>
    
              </div> 
    
            </div>
     -->
          </div>
       
    
    </div>
    </div>
    
</section>
<script>
  $("#link3").addClass('bg-warning').css("border-bottom","3px solid white");

</script>    

{% endblock %}


