{% extends "base.html" %}
{% load static %}
{% block style_block%}
<style>
    .coursemarginquery{
   margin-top:-250px;
  
   }
   @media only screen and (max-width: 600px) {
.coursemarginquery{
   margin-top:0px;
  
   }}
.course_back{
            background-color:black ;
            height: 300px;
            padding-top: 50px;
        }
.ullist_style{
list-style: none;


}
.list_style{
    background-color: blue;


}
   
</style>
   
{% endblock %}
{% block content_block%}
<div class="row" style="background-color: black;height: 100px;">
    <div class="col-md-12 text-center pt-5">

    </div>
</div>

<div class="row px-0 course_back ">  
    <div class="col-md-7 ml-5 px-0">
        {% for c in course_typ %}
        <h1 class="text-white ml-5" style="font-family: 'Satisfy';font-weight: bold;">{{c.course_name}}</h1>
        <h5 class="text-white ml-5 ">{{c.description}}</h5>
        <div class="ml-5">
            <span class="badge badge-accented bg-warning yellow" data-purpose="badge">Bestseller</span>
            <span class="fa fa-star text-warning"></span>
        <span class="fa fa-star text-warning"></span>
        <span class="fa fa-star text-warning"></span>
        <span class="fa fa-star text-warning"></span>
        <span class="fa fa-star text-secondary"></span>
        
        <span class="text-secondary">4.5 (155 ratings) 13 students enrolled</span>
        
        <br>
        <span class="text-secondary">Created by 
            {% for i in topicss %}               
            {{i.tutor}}
            
            
            
            {% endfor %}
            </span>
        </div>

        
        
        <!-- {% for i in topicss %}        
        <h1 class="text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">{{i.course_category}}</h1>
        <h1 class="text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">{{i.topic_name}}</h1>
        <h1 class="text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">{{i.tutor}}</h1>
        {% endfor %} -->
        
    </div>
    
    

</div>
<div class="row">
    <div class="col-md-7 mx-auto my-4 p-4 btn-light border" style="height: 300px;">
        <h3>What you'll Learn</h3>
        <div class="row">
            <div class="col-md-12">
                <ul style="list-style: none;">
                    {% for i in topicss%}
                    <li><i class="fas fa-check text-secondary"></i>&nbsp;&nbsp;&nbsp;{{i.topic_desc}}</li>
                    {%endfor%}
                </ul>
            </div>
            
        </div>
        
    </div>
    <div class="col-md-3 bg-white mx-auto pb-4 mb-5 px-0 text-center coursemarginquery border rounded" >
        <img src="/media/{{c.course_pic}}" width="100%" height="180"alt="">
        <div class="text-center m-2">
            <span class="text-dark h1">&#8377;{{c.sale_price}}</span>&nbsp;&nbsp;<span class="text-secondary " style="line-height: 40px;"><del>&#8377;{{c.course_price}}</del></span><span class="text-secondary h6"> &nbsp;&nbsp;&nbsp;25% OFF</span>
        </div>
        <form action="{% url 'cart_ss'%}" method="POST">
            {% csrf_token%}
          <input type="hidden" value="{{c.id}}" name="pid_hidd">
          <input type="hidden" value="1" name="qtty">
          <button type="submit" class="btn btn-danger btn-lg w-75 border">Add to Cart</button>
          </form><br>
        <a href="{% url 'process_payment' %}" class="btn btn-light btn-lg w-75 border" >Buy Now</a>
        <br>    
        <span class="text-secondary">30 days Money-Back Guarantee</span>
        <br>
        <div class="text-left mx-5 text-secondary">
            <span class="h6">This course includes</span><br>
            <span><i class="fas fa-file"></i>&nbsp;&nbsp;12 articles</span><br>
            <span><i class="fas fa-file-video"></i>&nbsp;&nbsp;24 hour on-demand video </span><br>
            <span class="h6">{ }</span><span>&nbsp;&nbsp;9 coding excersises </span><br>
            <span><i class="fas fa-atom"></i>&nbsp;&nbsp;Life time access</span><br>
            <span><i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;Play on both mobile or TV</span><br>
            <span><i class="fas fa-certificate"></i>&nbsp;&nbsp;Certificate on completion</span><br>
            
        </div><br>
        <button onclick="coupon()" style="color: cadetblue;font-size: large; background-color: white; border: none;">Apply Coupon</button>
        <br><br>
        <div class="dropdown-divider mx-5"></div><br>
        <a href="" style="color: cadetblue;font-size: large;"><i class="fas fa-share"></i> Share</a>
        
    </div>
    
    {% endfor %}
</div>

<div class="row" style="margin-top:-170px; margin-left: 100px;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <h4>Course Content</h4>
            </div>
            <div class="col-md-4">
                <span class="text-secondary">Course Duration</span>
            </div>
        </div>
        
    </div>
    {% for n in topicss%}
    <div class="col-md-7 my-1 py-1 px-5 btn-light border">
        <div class="row">
            <div class="col-md-9">
                <h5 ><a href="" class="text-dark">{{n.topic_name}}</a></h5>
            </div>
            <div class="col-md-3">
                <span class="text-secondary">{{n.video_duration}}</span>
            </div>
        </div>
        

    </div>  
    {% endfor %}
</div>

<script>
    function coupon()
    {
        alert("Sorry No offer Availiable for this course");
    }
</script>
{% endblock %}