{% extends "base.html"%}
{% block content_block%}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        <h1 class="text-white mt-5">My Courses</h1>
    </div>
</div>
<div class="row my-5">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4>Are You Sure to Delete Product!!!!</h4>
            </div>
            <div class="card-body">
                <img src="/media/{{product.product_image}}" width="100" height="100" class="rounded-circle"alt=""><span><b>{{product.product_name}}</b></span>
                <a href="{% url 'delete_product'%}?cid_cid={{product.id}}&&action=confirm" class="btn btn-danger btn-block">Confirm Delete</a>
                <a href="{% url 'tutor_courses'%}" class="btn btn-dark btn-block">Cancel</a>
            </div>
        </div>
        
    </div>
</div>
{% if status%}
<script>
    alert("{{status}}");
    window.location="/tutor_courses/"
</script>
{%endif%}

{% endblock%}