{% extends "base.html" %}
{% load static %}

{% block style_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<script>
    // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
        var element = document.getElementById("myDiv");
        element.classList.add("fadeIn");
      }
      else
      {

      }}
</script>
<style>

.home_land{
    border-bottom-right-radius: 1000%;border-top-left-radius: 100% ;
    
    background-color: black;
    width: 100%;
    height:600px;
   }
   .left-home{
        position: relative;
        top:200px;
        left: 50px;
        width: 400px;
        float: left;
   }
   .login-home{
    position: relative;
        top:180px;
        float: left;
        left: 20px;
       background-color: blanchedalmond;
       border-radius: 5px;
       width: 100%;
       height: 500px;
   }
   .nav-link{
       color: white;
   }
   .nav_fon{
       color: black;
   }
   .para{
       width: 400px;

   }
   #link1,#link2,#link3,#link4,#link5,#link6{
       color: white;
   }
   
   .marginquery{
   margin-top:0px;
   margin-bottom:0px;
   }
   @media only screen and (max-width: 600px) {
.marginquery{
   margin-top:0px;
   margin-bottom:0px;
   }
   }
   .loginformmarginquery{
   margin-top:-200px;
   
   }
   @media only screen and (max-width: 600px) {
.loginformmarginquery{
   margin-top:30px;
}
   }
   
   .learnthewaymarginquery{
   margin-top:0px;
   margin-bottom: 100px;
   
   }
   @media only screen and (max-width: 600px) {
.learnthewaymarginquery{
   margin-top:250px;
   margin-bottom: 100px;
}   
   }
   .go_at_3{
       background-color: black;
   }
   .input_text {
  width: 90%;
  height:50px;
  
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.input_text:focus {
  width: 85%;
}
@media only screen and (max-width: 600px) {
    .input_text:focus {
  width: 80%;
}
}  
</style>
{% endblock %}

{% block content_block %}
<!-- TOP HEADER BACKGROUND STARTS-->
<div class="row px-0 home_land">
                
    <div class="col-md-5 left-home">
        <h4 class="text-warning">THE SMARTEST WAY TO</h4>
        <h3 class="text-white">Learn Web Development Online</h3>
        <p class="text-secondary text-justify para">The skills people and businesses need to succeed are changing. No matter where you are in your career or what field you work in, you will need to understand the language of web. With DOCEO, you learn web development today and apply it tomorrow.</p>
        <a class="btn btn-warning" href="{% url 'courses' %}">START LEARNING FOR FREE</a>
    </div>

    <div class="col-md-6 login-home  p-3 loginformmarginquery animated fadeInUp ">
        <div class="row mt-3">
            <div class=" col-md-12 text-dark">
                <h1 class="font-weight-bold ">What's on:Learning</h1>
                <form action="{% url 'all_courses'%}" method="get" class="m-4">
                    
                    
                    <div class="input-group">
                        <input type="text" name="qry"class="input_text p-3" placeholder="What do you want to learn.....!">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1"><button type="submit"><i class="fas fa-search"></i></button></span>
                    </div>
                    </div>
                    
                </form>
                
            </div>
        </div>
        <!-- <div class=" row mt-3">
            
            <div class=" col-md-4 mt-2">
                <button class=" btn btn-primary form-control "><i class="fab fa-linkedin mr-1" style="font-size: 20px;"></i> LinkedIn</button>
            </div>
            <div class=" col-md-4 mt-2">
                <button class=" btn  form-control" style=" background:blue;color:white; "> <i class="fab fa-facebook-square mr-1" style="font-size: 20px;"></i>Facebook</button>
            </div>
            <div class=" col-md-4 mt-2">
                <button class=" btn btn-danger form-control"> <i class="fab fa-google mr-1" style="font-size:20px;color: white;border-radius: 2px;" ></i> Google</button>

            </div>

        </div>
        <div class="col-md-6 mx-auto text-secondary">
            or
        </div> -->

        <div class="col-md-12">
            <h3 class="bounce mx-auto">Get Latest Notifications</h3>
            {% if stat %}
                <div class="alert-{{cls}}">{{stat}}</div>
            {% endif %}  

            <form action="" method="POST">
                {%csrf_token%}
                <div class="input-group my-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="text"class="py-4 form-control " name="subemail" placeholder="Email Address " aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <input type="submit" name="subs" class="btn form-control text-white btn-secondary" value="Subscribe to Free Notifications" >
            </form>
            
            <div class="marginquery"><small >By continuing you accept the Terms of Use and Privacy Policy. You also accept that you are aware that your data will be stored outside of the EU and that you are above the age of 16.</small ></div>
                <div class="marginquery"><small >By subscribing to DOCEO you will get latest notifications from our website as soon as possible from us. </small ></div>
        </div>
    </div>
</div>
<!-- TOP HEADER BACKGROUND ENDS-->
    <!-- <div class="row bg-light py-5 mt-5 text-center">
        <div class="col-md-6 mx-auto">
            <form action="{% url 'all_products'%}" method="GET">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <input type="text" class="form-control" placeholder="Search Your Course Here" name="qry" id="">
                </div>
                <div class="col-md-6 mx-auto">
                    <button type="submit" class="btn btn-success text-white">Get it!!!</button>
                </div>
            </div>
        </form>
        </div>
        
    </div> -->
<!-- LEARN THE WAY START -->
    <div class="row text-center mx-auto learnthewaymarginquery">
        <div class="col-md-12 text-center pt-3" style="border-top: 1px solid gray; margin-top: 150px;">
            <h1>Learn The Way You Learn Best</h1>
            <p class="mx-auto my-5"
            style="width: 80%;">You learn best when you get to apply what you learn quickly. That’s why we’ve developed Courses that combine short expert videos with immediate hands-on-the-keyboard exercises. Why we have built Practice Mode with instant and personalised feedback on every exercise. And why we have developed DataCamp Projects based on real-world problems.</p>
            <img alt="Python, R, SQL, Spark" class="dc-learn-by-doing__logoset mt-2" width="339" src="https://static.datacamp.com/static/python-r-sql-spark-dark-92c082e22af0e27a1d74369c0f6dba0b.svg">
            <img alt="Git, Shell, Spreadsheets" class="dc-learn-by-doing__logoset mt-2" width="319" src="https://static.datacamp.com/static/git-shell-spreadsheets-dark-2d8e837b6c4c6e758cb1a04c0a32a3b2.svg">
        
        </div>

    </div>
<!-- LEARN THE WAY END -->

    <div class="row p-5 my-3"style="background-color: black;">
        <div class="col-sm-12 col-md-3 animated mx-auto bg-white p-4 my-1" id="myDiv1">
            <div class="row px-0">
            <div class="col-md-2">
                <img alt="Go at your own pace" data-purpose="unit-icon" width="42" height="42" class="" src="https://i.udemycdn.com/browse_components/value-props-unit/go_own_pace.svg">
            </div>
            <div class="col-md-10">
                <span style="font-size: 20px;"><b>Go at your own pace</b></span>
            <p style="color: rgb(194, 194, 194);">Enjoy lifetime access to courses on Udemy’s website and app</p>
            </div>
            </div>
            
        </div>
        <div class="col-sm-12 col-md-3 animated fadeIn delay-1s mx-auto bg-white my-1 p-4">
            <div class="row px-0">
            <div class="col-md-2">
                <img alt="Learn from industry experts" data-purpose="unit-icon" width="40" height="43" class="" src="https://i.udemycdn.com/browse_components/value-props-unit/learn_from_experts.svg">
            </div>
            <div class="col-md-10">
                <span style="font-size: 20px;"><b>Learn from industry experts</b></span>
            <p style="color: rgb(138, 135, 135);">Select from top instructors around the world</p>
                
            </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 mx-auto my-1 bg-white p-4 animated fadeIn delay-2s ">
            <div class="row px-0">
            <div class="col-md-2">
                <img alt="Find video courses on almost any topic" data-purpose="unit-icon" width="44" height="44" class="" src="https://i.udemycdn.com/browse_components/value-props-unit/video_courses.svg">
            </div>
            <div class="col-md-10">
                <span style="font-size: 20px;"><b>Find video courses on almost any topic</b></span>
            <p style="color: rgb(194, 194, 194);">Build your library for your career and personal growth</p>
            </div>
            </div>

        </div>
    </div>


    <div class="row mx-0 my-4 py-4"  >
        <div class="col-md-12 text-center my-5">
            <h1>Latest Courses</h1>
        </div>
    </div>
    
    <div class="row">
        {% for i in course_t %}
              <div class="col-md-3 mx-auto my-2">
                <div class="card px-0">
                  <img src="/media/{{i.course_pic}}" class="border" width="100%" height="130" alt="">
                  <div class="card-body">
                    <h6 ><a class="text-dark" href="{% url 'courses_detail'%}?cat={{i.id}}">{{i.course_name}}</a></h6>
                  <span class="fa fa-star text-warning"><span class="fa fa-star text-warning"><span class="fa fa-star text-warning"><span class="fa fa-star text-warning"><span class="fa fa-star text-dark">&nbsp;&nbsp;&nbsp;<b class="text-dark">4.5</b>&nbsp;&nbsp;<small class="text-secondary">(1548965)</small></span>
                  
                  
                  </span>
                  </span>
                  </span>
                  </span>
                  <br>
                  <small class="text-secondary"><b>Tutor Name</b></small>
                  <br>
                  <br>
                  <form action="{% url 'cart_ss'%}" method="POST">
                    {% csrf_token%}
                  <input type="hidden" value="{{i.id}}" name="pid_hidd">
                  <input type="hidden" value="1" name="qtty">
                  <button type="submit" class="btn btn-danger btn-lg w-75 border">Add to Cart</button>
                  </form>
                  </div>
                  
                </div>
                  
              </div>
              {% endfor %}
    </div>
    <!-- COURSES END -->
    
    
    
    <div class="row bg-light p-5">
        <div class="col-md-12">
            <h4 class="font-weight-bold">What our students have to say</h4>
        </div>
        {% for i in feed%}
        {% if user.is_superuser%}

        {% elif user.is_staff and user.is_active%}
        {% else%}
            {%if i.feedback_input is None%}
            {%else%}
        <div class="col-md-3 p-2 bg-white mx-auto">
            <div class="row">
                <div class="col-md-4">
                {%if i.profile_pic %}
                <img src="/media/{{data.profile_pic}}" class="view_img border ml-3 border-secondary"alt="">
                {% else %}
                <img src="{% static '/images/icon_img.jpg' %}" class="user_img"alt="">
                
                {% endif %}
                </div>
                <div class="col-md-8">
                    <h6>{{i.user.first_name}}</h6>
                </div>
                <div class="col-md-12">
                    <p>{{i.feedback_input}}</p>
                </div>
            </div>
        </div>
        {%endif%}
        {%endif%}
        {%endfor%}
    </div>
    
<script>
    $("#link1").addClass('bg-warning').css("border-bottom","3px solid white");
    style=": 3px solid white;"
    
</script>  


{% endblock %}



