{% extends "base.html"%}
{% block content_block%}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        <h1 class="text-center text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">My Courses
            {% for i in order_history  %}
            ({{i.mine_courses|length}})
            {%endfor%}    
        
        </h1>
        <h3 class="text-center text-white mb-5 pb-5"><i style="color: red;"class="fa fa-heart"></i> to learn with DOCEO</h3>
            
        
    </div>
</div>

<div class="row">
    <div class="col-md-8 mx-auto">
        
        {% for i in order_history  %}
        
            <div class="card">
                <div class="card-header">
                    <strong class="float-left">Purchase Id: {{i.order_id}}</strong>
                    <em class="float-right">Purchased On: {{i.date}}</em>
                </div>
                
                <div class="card-body mx-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Course Name</th>
                                <th>Sale Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {% for j in i.mine_courses %}
                            <tr>
                                <td><img src="/media/{{j.course_pic}}" alt="" width="150" height="100"></td>
                                <td><strong>{{j.course_name}}</strong></td>
                                <td><i class="text-danger">{{j.sale_price}}</i></td>
                                <td><a class="btn btn-success"href="{% url 'start_course'%}?cat={{j.id}}">Start Course</a></td>
                            </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
{% endblock %}