{% extends "base.html"%}
{% load static%}
{% block content_block%}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        <h1 class="text-white mt-5">Payment Failed</h1>
        
    </div>
</div>
<div class="row">
    <div class="col-md-3 mx-auto my-5 border text-center p-5">
        <img src="{% static '/images/payment_failed.gif' %}" width="100%"alt="">
        <div class="row">
            <div class="col-md-6 my-5">
                <a href="{% url 'cart'%}" class="btn btn-primary">Shop More</a>
            </div>
            <div class="col-md-6 my-5">
                <a href="{% url 'stu_dashboard'%}" class="btn btn-primary">Dashboard</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}