{% extends "base.html" %}
{% block content_block%}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        {% if status %}
            <h1 class="text-white mt-5">{{status}}</h1>
        {% else %}
        
            <h1 class="text-white mt-5">Payment Process</h1>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-4 shadow-lg m-5 p-5 text-center mx-auto">
        <h3>Click On Buy Now to Continue Payment</h3>
        {{form.render}}
        <a href="{% url 'stu_dashboard'%}" class="btn btn-warning">Dashboard</a>
        <a href="{% url 'cart_ss'%}" class="btn btn-danger">Cancel</a>
    </div>
</div>


{% endblock %}