{% extends "base.html"%}
{% block content_block%}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        <h1 class="text-white mt-5">Send Email</h1>
    </div>
</div>
<div class="row mt-5 p-5">
    <div class="col-md-6 mx-auto bg-light">
        <h1>Email Details</h1>
        {% if successmsg %}
            <div class="alert alert-{{cls}}">{{successmsg}}</div>
        {% endif %}
        <form action="" method="POST" class="p-5">
            {% csrf_token%}
            <div class="form-group">
                <input type="text" name="toemail" class="form-control" placeholder="Email To">
            </div>
            <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder="Email Subject">
            </div>
            <div class="form-group">
                <textarea name="msg" rows="5" class="form-control" placeholder="Message Here"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary text-white" value="Send Message">
            </div>
            
        </form>
    </div>
</div>
{% endblock %}