{% extends "base.html"%}
{% block content_block%}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        <h1 class="text-white mt-5">My Products</h1>
    </div>
</div>
<div class="row p-5">
    <div class="col-md-6 mx-auto">
        
        <img src="/media/{{product.topic_image}}" width="100%" height="100%"alt="">

    </div>
    <div class="col-md-6 mx-auto">
        <h1>{{product.topic_name}}</h1>
        
        <p>{{product.topic_desc}}</p>
        
    </div>
    <div class="col-md-6 mt-5">
        <h1>Tutor Details</h1>
        <h3>Tutor Name: {{product.tutor.first_name}} {{product.tutor.last_name}}</h3>
        <h3>Email: {{product.tutor.email}}</h3>
        <h3>Member Since: {{product.tutor.date_joined}}</h3>
    </div>
    <div class="col-md-6 mt-5">
        <h1>Category Details</h1>
        <h3>Category Name: {{product.course_category}}</h3>
        <h3>Course Price: &#8377;  <del>{{product.tutor.course_price}}</del></h3>
        <h3>Sale Price: &#8377;  {{product.tutor.sale_price}}</h3>
        <h3>Description
            
        </h3><p> {{product.product_category.description}}</p>
    </div>
</div>
{% endblock %}