{% extends "base.html"%}
{% block content_block%}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        <h1 class="text-white mt-5">
            {%for i in course_typ%}
            {{i.course_name}}
            {%endfor%}
            ({{topicss|length}})</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Start Learning</h3>
        
        
    </div>
    {% for n in topicss%}
    <div class="col-md-7 mx-auto my-1 py-1 px-5 btn-light border">
        <div class="row">
            <div class="col-md-7">
                <h5 ><a href="" class="text-dark">{{n.topic_name}}</a></h5>
            </div>
            <div class="col-md-2">
                <span class="text-secondary">5:28</span>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success" data-toggle="modal" data-target="#m{{n.id}}"><i class="fa fa-eye"></i>View</button>
            </div>
        </div>
        <!-- View Your Product Details starts -->
        <div id="m{{n.id}}" class="modal fade p-2" >
            <div class="modal-dialog modal-lg" style="width: 700px;">
                <!-- Modalcontent-->
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h3>{{n.topic_name}}</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <video show controls width="100%" height="100%" >
                            <source src="/media/{{n.topic_video}}" >
                    
                        </video>
                    </div>
                   
        </div>
        </div>
        </div>
        <!-- View Your Product Details ends -->

    </div>  
    {% endfor %}    


</div>
{%endblock%}