{% extends "base.html" %}
{% load static %}
{% block style_block %}
<style>
   .stuimg{
    background-size: 100% 100%;
    height: 400px;
    width: 500px;
}
.side_menu_ul{
background-color: black;
}
.nav_bar{
    background-color: black;
    
}
.user_img{
    width: 100px;
    height: 100px;
    border-radius: 50% 50%;
}
.view_img{
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
}
</style>
{% endblock %}

{% block content_block %}
        {% block top_block %}
        <h1 class=" mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Tutor Dashboard</h1>
        {% endblock %}<div class="row my-5">
    <div class="col-md-2 nav_bar pl-4">
        <nav class="navbar">
            <div class="text-center">
            <img src="/media/{{data.profile_pic}}" class="user_img border ml-3 border-secondary"alt="">
            </div>
            <ul class="navbar-nav side_menu_ul">
                <li class="nav-item">
                    <h4 class="text-white p-2">{{user.username}}</h4>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link p-2" data-toggle="modal" data-target="#viewprofile">View Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link p-2">Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link p-2">My Courses</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link p-2">Educational Details</a>
                </li>
                
                <li class="nav-item">
                    <a href="" class="nav-link p-2">Change Password</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user_logout'%}" class="nav-link p-2">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9 mx-auto border p-2  text-center shadow-sm">
        <h2>Welcome {{user.first_name}} {{user.last_name}}</h2>
        <div class="row py-2">
            <div class="col-md-3 border p-2 shadow-sm mx-auto">
                <img class="mx-auto" src="{% static 'images/personal-information-icon.png'%}" width="200" height="200" alt="">
                <h4 class="text-success">Personal Information</h4>
                <p class="text-secondary">Great! You have completed your personal information.</p>
                <button class="btn btn-outline-success rounded-pill">View my personal info</button>
            </div>
            <div class="col-md-3 border p-2 shadow-sm mx-auto">
                <img class="mx-auto" src="{% static 'images/courses.png'%}" width="200" height="200" alt="">
                <h4 class="text-warning ">My Courses</h4>
                <p class="text-secondary">Great! You have completed your personal information.</p>
                <button class="btn btn-outline-warning rounded-pill">View my courses info</button>
            </div>
            <div class="col-md-3 border p-2 shadow-sm mx-auto">
                <img class="mx-auto" src="{% static 'images/education icon.png'%}" width="200" height="200" alt="">
                <h4 class="text-success">Educational Details</h4>
                <p class="text-secondary">Great! You have completed your personal information.</p>
                <button class="btn btn-outline-success rounded-pill">View my educational info</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6"><h6>Last Login:<br>{{user.last_login}}</h6></div>
            <div class="col-md-6"><h6>Date Joined:<br>{{user.date_joined}}</h6></div>
        </div>
        
        
    </div>

    <!-- VIEW PROFILE STARTS -->
    <div id="viewprofile" class="modal fade p-2" >
        <div class="modal-dialog" style="width: 700px;">
            <!-- Modalcontent-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    
                   
                    <h1>View Profile</h1><img src="/media/{{data.profile_pic}}" class="view_img border ml-3 border-secondary"alt="">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 p-2">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>User Id</th><td>{{user.id}}</td><th>User Name</th><td>{{user.username}}</td>
                                        </tr>
                                        <tr>
                                            <th>Full Name</th><td>{{user.first_name}} {{user.last_name}}</td><th>Contact Number</th><td>{{data.phone}}</td>
                                        </tr>
                                        
                                        <tr>
                                            <th>Email</th><td>{{user.email}}</td><th>Last Course</th><td>{{data.education}}</td>
                                        </tr>
                                        <tr>
                                            <th>Age</th><td>{{data.age}}</td><th>Gender</th><td>{{data.gender}}</td>
                                        </tr>
                                        <tr>
                                            <th>City</th><td>{{data.city}}</td><th>Current Status</th><td>{{data.current_status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                        
                    </div>
                </div>
    </div>
    </div>
    </div>
    </div>
    
    <!-- VIEW PROFILE ENDS -->
    <!-- EDIT PROFILE STARTS -->

    <div class="col-md-10 mx-auto">
        <div class="card ">
            <div class="card-header text-center">
                <h1>Edit Profile</h1>
            </div>
            <div class="card-body">
        
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token%}
                    {% if status %}
                        <div class="alert alert-primary">{{status}}</div>
                    {% endif %}
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>First Name</th><td><div class="form-group"><input type="text" class="form-control" name="fname" value="{{user.first_name}}"></div></td>
                                <th>Last Name</th><td><div class="form-group"><input type="text" class="form-control" name="lname" value="{{user.last_name}}"></div></td>
                            </tr>
                            <tr>
                                <th>Profile Pic</th><td><div class="form-group"><input type="file" class="form-control" name="profile_pic"  width="100"></div></td>
                                <th>Email</th><td><div class="form-group"><input type="email" class="form-control" name="email" value="{{user.email}}"></div></td>
                            </tr>
                            
                            <tr>
                                <th>Contact Number</th><td><div class="form-group"><input type="text" class="form-control" name="contact" value="{{data.phone}}" pattern="[0-9]{10}" title="Number Must Contains 10 Digits only"></div></td>
                                <th>Age</th><td><div class="form-group"><input type="number" class="form-control" name="age" value="{{data.age}}" min="15" max="99"></div></td>
                            </tr>
                            <tr>
                            <th>City</th><td><div class="form-group"><input type="text" class="form-control" name="city" value="{{data.city}}"></div></td>
                            <th>Gender</th><td><div class="form-group">
                                <select name="gen" id="" class="form-control">
                                
                                    <option value="Male">Male</option>
                                    {% if data.gender == "Female" %}
                                    <option value="Female" selected>Female</option>
                                    {% else %}
                                    <option value="Female">Female</option>
                                    {% endif%}
                            </select></td>
                            </tr>
                            <tr>
                                <th>Last Course or Degree</th><td><div class="form-group"><input type="text" class="form-control" name="education" value="{{data.education}}"></div></td>
                                <th>Current Status</th><td><div class="form-group"><input type="text" class="form-control" name="current_status" value="{{data.current_status}}"></div></td>
                            </tr>
                            
                            
                        </tbody>
                        
                    </table>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-warning text-white" value="Update Profile">
                    </div>
                </form>
    </div>
    </div>
    </div>

    <!-- EDIT PROFILE ENDS -->
</div>

{% endblock %}