{% extends "base.html" %}
{% block content_block %}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        <h1 class="text-white mt-5">My Courses ({{topics|length}})</h1>
    </div>
</div>

<div class="row m-5">
    <div class="col-md-8 mx-auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Topic Id</th>
                    <th>Topic Name</th>
                    <th>Topic Image</th>
                    <th>Topic Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for c in topics%}
                <tr>
                    <td>{{c.id}}</td>
                    <td>{{c.topic_name}}</td>
                    <td><img src="/media/{{c.topic_image}}" width="100" height="50" alt=""></td>
                    <td>
                        <button class="btn btn-success" data-toggle="modal" data-target="#m{{c.id}}"><i class="fa fa-eye"></i>View</button>
                        <a class="btn btn-primary"  href="{% url 'update_product'%}?cid_cid={{c.id}}"><i class="fa fa-edit"></i>Edit</a>
                        
                        <a href="{% url 'delete_product'%}?cid_cid={{c.id}}"class="btn btn-danger"><i class="fa fa-edit"></i>Delete</button>
                    </td>
                </tr>
                <!-- View Your Product Details starts -->
                <div id="m{{c.id}}" class="modal fade p-2" >
                    <div class="modal-dialog modal-md" style="width: 700px;">
                        <!-- Modalcontent-->
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                
                               
                                <h3>Course Details({{c.course_category}})</h3>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <img src="/media/{{c.topic_image}}" width="470" height="250" alt="">
                                <h3>{{c.topic_name}}</h3>
                                <p>{{c.topic_desc}}</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-warning" href="{% url 'single_product'%}?cid_c={{c.id}}">View</a>
                            </div>
                </div>
                </div>
                </div>
                <!-- View Your Product Details ends -->
                <!-- Update Your Product Details starts -->
                <div id="u{{c.id}}" class="modal fade p-2" >
                    <div class="modal-dialog modal-md" style="width: 700px;">
                        <!-- Modalcontent-->
                        <div class="modal-content">
                            <div class="modal-header text-center">                              
                                <img src="/media/{{c.topic_image}}" class="border rounded-circle" width="100" height="100" alt=""><h1>Update Product Details</h1> 
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token%}
                                        <div class="col-md-6 mt-2">
                                        Topic Name:
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <input type="text" class="form-control" name="pname" value="{{c.topic_name}}">
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        Topic Category:
                                    </div>
                                    <div class="col-md-6 mt-2">
                                       <select name="pcat" id="" class="form-control">
                                           {% for i in cats%}
                                                {% if i.id == c.product_category.id%}
                                                    <option value="{{i.id}}" selected>{{i.course_name}}</option>
                                                {% else %}
                                                    <option value="{{i.id}}">{{i.course_name}}</option>
                                                {%endif%}
                                           {% endfor %}
                                       </select>
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        Update Image
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <input type="file" class="form-control" name="pimg">
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        Product Price:
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <input type="text" class="form-control" name="pprice"value="{{c.product_price}}">
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        Sale Price:
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <input type="text" class="form-control" name="sprice" value="{{c.sale_price}}">
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        Details:
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <textarea  id="" class="form-control" cols="10" name="pdet"  rows="3">{{c.details}}</textarea>
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <input type="submit" class="btn btn-warning btn-block" value="Save Changes">
                                    </div>
                                </form>
                                </div>
                                
                            </div>
                            
                </div>
                </div>
                </div>
                <!-- Update Your Product Details ends -->
                </div>
                
                
            {% endfor %}
        </tbody>
        </table>

        
    </div>
    
</div>
{% endblock %}