{% extends "base.html"%}
{% block content_block%}
<div class="row" style="background-color: black;height: 200px;">
    <div class="col-md-12 text-center pt-5">
        <h1 class="text-white mt-5">My Courses</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Update Your Product Details Here
            </div>
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token%}
                        <div class="col-md-6 mt-2">
                        Topic Name:
                    </div>
                    <div class="col-md-6 mt-2">
                        <input type="text" class="form-control" name="pname" value="{{topics.topic_name}}">
                    </div>
                    <div class="col-md-6 mt-2">
                        Topic Category:
                    </div>
                    <div class="col-md-6 mt-2">
                       <select name="pcat" id="" class="form-control">
                           {% for i in cats%}
                                {% if i.id == topics.topic_category.id%}
                                    <option value="{{i.id}}" selected>{{i.course_name}}</option>
                                {% else %}
                                    <option value="{{i.id}}">{{i.course_name}}</option>
                                {%endif%}
                           {% endfor %}
                       </select>
                    </div>
                    <div class="col-md-6 mt-2">
                        Update Image
                    </div>
                    <div class="col-md-6 mt-2">
                        <input type="file" class="form-control" name="pimg">
                    </div>
                    <div class="col-md-6 mt-2">
                        Details:
                    </div>
                    <div class="col-md-6 mt-2">
                        <textarea  id="" class="form-control" cols="10" name="pdet"  rows="3">{{topics.details}}</textarea>
                    </div>
                    <div class="col-md-12 mt-2">
                        <input type="submit" class="btn btn-warning btn-block" value="Save Changes">
                    </div>
                </form>        
            </div>
        </div>
    </div>
    
    
</div>
{% if status%}
<script>
    alert("{{status}}");
</script>
{%endif%}

{%endblock%}